<!doctype html>
 <html>
<head>
    <title>Add New Recipe</title>
    <meta charset="utf-8"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <!--- External Stylesheet --->
    <link rel="stylesheet" type="text/css" href="./public/index_style.css" media="screen">
  

      <script>
      
    
        function validateForm() {
          var y = document.add_recipe.username.value;
          var z = document.add_recipe.password.value;
          if (y == "") {
            alert("Please enter a username");
            document.add_recipe.password.focus() ;
            return false;
          }
          if (z == "") {
            alert("Please enter a password");
            document.add_recipe.email.focus() ;
            return false;
          }
          return true;
        }
        
      
        
        
      </script>
      
    


</head>

<body class = "index-cover">


    <div class = "sidenav">
      
      <div class = "welcome">
          <h2>Welcome</h2>
          <h2 id = "name" name = "username"><%= data.name %></h2>
      </div>
      <a href = "index.html">Home</a>
      <br>
      <a href = "search.html">Search</a>
      <br>
      <a href = "add_new.html">Add</a>
      <br>
      <a href = "login.html">Logout</a>
    </div>



      <div class = "new_recipe">
        <h2 class = "Add_title">Add New Recipe</h2>
        <!-- <form action="/uploadphoto" enctype="multipart/form-data" method="POST"> 
          <input type="file" name="myImage" accept="image/*" />
          <input type="submit" value="Upload Photo"/>
        </form> -->
        <form method = "POST" action = "/create_new_recipe"  name="add_recipe" onsubmit = "return validateForm();">
          <input id = "form_name" name = "username" value = "<%= data.name %>">
          <br>
        <span>
          <input class="un_e" type="text" align="center"  name = "title" placeholder="Title" >
          <input class="un_e" type="text" name = "time" placeholder="Time" >
        </span>
          
          <input class="un_e" type="text" align="center"  name = "image" placeholder="Enter Image URL" >
          <br>
          <br>
          <textarea class="un" type="text" align="center"  name = "ingr" placeholder="Ingredients" ></textarea>
          <br>
          <br>
          <textarea class="un " type="text" align="center"  name = "instr" placeholder="Instructions" ></textarea>
          
          <br>
          <br>
          <input type="submit" class = "submit" align="center" value = "Add New Recipe">
        </form>
          
      </div>

  

</body>

<script>

</script>

</html>
